#main-container {
  width: 98.5vw;
  height: 98.5vh;
  display: flex;
  justify-content: center;
  background-color: black;

  img {
    min-width: 400px;
    width: 40vw;
  }

  #text-holder {
    margin-top: 40px;
    margin-left: -300px;
    text-align: right;
    border-radius: 4px;
    p {
      color: whitesmoke;
      font-size: 30px;
      line-height: normal;
      padding: 18%;
    }
  }
}
