@import "../../../mixins";

#greeting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2em;
  line-height: 1.5;
  border-radius: 5px;
  letter-spacing: 0.5px;

  @include sm {
    font-size: 1.5em;
    padding: 18px;
  }
  @include custom(930px) {
    display: flex;
    flex-direction: row;
    padding: 22px;
  }
  #image-holder {
    width: 100%;
    margin-bottom: 20px;
    mask-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 99) 23%
    );
    @include custom(930px) {
      min-width: 800px;
    }

    @include lg {
      max-width: 880px;
    }
    img {
      border-radius: 5px;
      width: 100%;
    }
  }

  #text-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include sm {
      width: 450px;
    }

    @include custom(930px) {
      width: 500px;
      margin-left: -530px;
    }

    @include xl {
      max-width: 550px;
      margin-left: -300px;
      align-items: flex-end;
    }

    @include custom(1400px) {
      width: 500px;
      margin-left: -40px;
      align-items: center;
    }

    .quote {
      text-align: center;
      font-weight: bolder;
      letter-spacing: 0.5px;
      color: rgb(159, 32, 0);
      margin: 1em;
      overflow: hidden;

      @include custom(930px) {
        opacity: 70%;
        margin-top: -20px;
        margin-bottom: 20px;
      }

      @include custom(1400) {
        opacity: 100%;
        margin-top: -40px;
        margin-bottom: 50px;
      }
      blockquote {
        background-color: whitesmoke;
        border: solid 2px rgba(159, 32, 0, 0.8);
        line-height: 1.5em;
        display: inline-block;
        margin: 0;
        padding: 1em;
        position: relative;
        &:before {
          background-color: whitesmoke;
          bottom: -10%;
          content: "";
          left: 0;
          position: absolute;
          right: 0;
          top: -10%;
          transform: rotate(-15deg) skew(5deg);
          @include custom(930px) {
            transform: none;
          }

          @include xl {
            transform: rotate(-15deg) skew(5deg);
          }
        }
        > * {
          position: relative;
          z-index: 1;
        }
      }
    }

    #text {
      margin-top: 10px;
      border-radius: 5px;
      padding: 12px;
      padding-bottom: 70px;
      background-color: rgb(159, 32, 0);
      color: rgb(252, 249, 249);
      opacity: 80%;
      position: relative;
      text-align: justify;
      font-weight: bolder;
      @include lg {
        margin-top: 0;
      }

      #greeting {
        font-size: 22px;
        font-family: "Cormorant Upright", serif;
        font-weight: bolder;
        text-align: center;
        letter-spacing: 0px;

        @include sm {
          font-size: 26px;
        }
      }

      #description {
        margin: 10px 0;
        padding: 0 10px;
        font-weight: normal;
      }

      button {
        width: 100px;
        height: 40px;
        color: rgb(159, 32, 0);
        letter-spacing: 0.5px;
        background-color: whitesmoke;
        border-radius: 2px;
        font-size: 19px;
        font-weight: bold;
        position: absolute;
        bottom: 30px;
        right: 30px;
      }
    }
  }
}
