<div id="greeting-container">
  <div id="image-holder">
    <img src="../../../assets/forest_sunrise.webp" width="930vw" />
  </div>
  <div id="text-container">
    <div class="quote">
      <blockquote>
        <p>
          "Azt mondod, vaksötét az ég. <br />
          Azt mondom, felvirrad, ne félj!"
        </p>
      </blockquote>
    </div>
    <div id="text">
      <p id="greeting">
        Tisztelettel és részvéttel köszöntjük Önöket a POLGÁRI BÚCSÚZTATÓK
        honlapján!
      </p>

      <p id="description">
        Bemutatkozásunkkal szeretnénk lehetőséget kínálni Önöknek, hogy az
        elképzeléseiknek és igényeiknek legmegfelelőbb polgári búcsúztatót
        válasszák ki, - hozzátartozójuk, kedves barátjuk, ismerősük
        búcsúztatására; temetőkben illetve bármely egyéb helyszínen.
      </p>
      <button mat-raised-button routerLink="/bemutatkozas">Tovább</button>
    </div>
  </div>
</div>
