<app-header></app-header>

<div id="greeting-container">
  <div id="image-holder">
    <img src="../../../assets/forest_sunrise.jpg" width="930vw" />
  </div>
  <div id="text">
    <p id="greeting">
      Tisztelettel és részvéttel köszöntjük Önöket a POLGÁRI BÚCSÚZTATÓK
      honlapján!
    </p>

    <!-- <p class="description">
      A polgári búcsúztatók az Önök által választott - temetőbeli vagy egyéb -
      helyszínen segítenek abban, hogy a gyászolók méltóképpen búcsúzhassanak
      eltávozott szeretteiktől, barátaiktól.
    </p> -->

    <p class="description">
      Bemutatkozásunkkal szeretnénk lehetőséget adni Önöknek, hogy az
      elképzeléseiknek és igényeiknek legmegfelelőbb polgári búcsúztatót
      válasszák ki hozzátartozójuk, kedves barátjuk, ismerősük búcsúztatására.
    </p>
    <button mat-raised-button routerLink="/introduction">Tovább</button>
  </div>
</div>
