<div id="personal-container">
  <div id="pic-quote-contact">
    <div id="person-card">
      <div id="name-holder">
        <p>
          {{ currentPersonData.name }}
        </p>
      </div>
      <div id="image-holder">
        <img
          [src]="currentPersonData.pictureUrl"
          alt="Picture of {{ currentPersonData.name }}"
          width="150px"
        />
      </div>
    </div>
    <div id="quote" *ngIf="currentPersonData.quote !== ''">
      <blockquote>
        <p>{{ currentPersonData.quote }}</p>
      </blockquote>
    </div>
    <div id="contact">
      <p id="title">Elérhetőségek</p>
      <div class="iconWithData">
        <span class="material-symbols-outlined">call</span>
        <a href="tel:{{ currentPersonData.phone }}">{{
          currentPersonData.phone
        }}</a>
      </div>
      <div class="iconWithData">
        <span class="material-symbols-outlined">forward_to_inbox</span>
        <a href="mailto:{{ currentPersonData.email }}">{{
          currentPersonData.email
        }}</a>
      </div>
      <div class="iconWithData" *ngIf="currentPersonData.web">
        <span class="material-symbols-outlined">public</span>
        <a
          href="{{ currentPersonData.web }}"
          target="_blank"
          rel="noopener noreferrer"
          >Weboldalam</a
        >
      </div>
      <div class="iconWithData" *ngIf="currentPersonData.facebook">
        <span class="material-symbols-outlined">thumb_up</span>
        <a
          href="{{ currentPersonData.facebook }}"
          target="_blank"
          rel="noopener noreferrer"
          >Facebook</a
        >
      </div>
    </div>
  </div>

  <div id="introduction-media">
    <div id="introduction">
      <p>
        {{ currentPersonData.introduction }}
      </p>
      <a
        mat-raised-button
        href="https://nlc.hu/csalad/20161223/temetes-bucsubeszed-elmulas-szertartas/"
        target="_blank"
        rel="noopener noreferrer"
        *ngIf="currentPersonData.name === 'Gohér Zsuzsa'"
        >Elolvasom a cikket!</a
      >
    </div>
    <div id="media" *ngIf="currentPersonData.videoId">
      <div id="audio-player" *ngIf="currentPersonData.audioList !== undefined">
        <ang-music-player [audioList] = audioList></ang-music-player>
      </div>
      <div id="youtube-player" *ngIf="currentPersonData.videoId">
        <youtube-player [videoId]="currentPersonData.videoId"></youtube-player>
      </div>
    </div>
  </div>
</div>
