@import "../../../mixins";

#personal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: rgb(159, 32, 0);
  font-size: 18px;
  font-weight: bolder;
  line-height: 1.5;
  letter-spacing: 0.7px;
  padding: 10px;
  #button-holder {
    position: fixed;
    top: 0;
    left: 0;
    button {
      margin: 20px 20px 0 20px;
      color: rgb(159, 32, 0);
      text-align: center;
    }
  }

  @include custom(850px) {
    max-width: 850px;
  }

  #pic-quote-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    margin-top: 70px;

    @include md {
      height: 400px;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      margin: 50px 10px 20px 10px;
    }

    #quote {
      @include md {
        margin-left: -10px;
        font-size: 16px;
      }

      @include lg {
        font-size: 16.5px;
      }
      blockquote {
        background-color: whitesmoke;
        max-width: 300px;
        border: solid 2px rgba(159, 32, 0, 0.8);
        line-height: 1.5em;
        margin: 20px 0;
        padding: 20px;
        position: relative;
        text-align: center;
        white-space: pre-line;
        &:before {
          background-color: whitesmoke;
          bottom: -10%;
          content: "";
          left: 0;
          position: absolute;
          right: 0;
          top: -10%;
          transform: rotate(-2deg) skew(5deg);

          @include md {
            padding: 8px;
            transform: none;
          }
        }
        > * {
          position: relative;
          z-index: 1;
        }
      }
    }

    #person-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 300px;
      margin: 20px 0;
      border-radius: 4px;
      cursor: pointer;
      box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.2),
        0 2px 8px 0 rgba(0, 0, 0, 0.14), 0 4px 8px -1px rgba(0, 0, 0, 0.12);

      @include md {
        margin-bottom: 20px;
      }
      #name-holder {
        font-size: 20px;
        font-weight: bolder;
        letter-spacing: 0.7px;
        color: rgb(159, 32, 0);
        margin-bottom: 10px;
      }

      #image-holder {
        display: flex;
        align-items: center;
        max-width: 150px;
        height: 198px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    #contact {
      display: flex;
      flex-direction: column;
      height: auto;
      padding-bottom: 15px;
      color: rgb(252, 249, 249);
      background-color: rgba(159, 32, 0, 0.7);
      text-align: justify;
      font-weight: bolder;
      max-width: 300px;
      border-radius: 4px;
      margin: 20px 0;
      box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.2),
        0 2px 8px 0 rgba(0, 0, 0, 0.14), 0 4px 8px -1px rgba(0, 0, 0, 0.12);

      @include md {
        margin: 10px;
        margin-bottom: 20px;
      }

      @include custom(920px) {
        margin: 10px 0 20px 10px;
      }

      #title {
        font-size: 20px;
        padding: 15px;
        padding-bottom: 0;
      }

      .material-symbols-outlined {
        font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
        padding-right: 10px;
      }

      .iconWithData {
        display: flex;
        padding: 5px 20px;
        font-size: 14px;

        a {
          text-decoration: none;
          color: white;
          margin-bottom: 12px;
        }

        @include custom(920px) {
          font-size: 16px;
        }

        @include lg {
          font-size: 16.5px;
        }
      }
    }
  }

  #introduction-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    margin: 40px 0 20px 0;

    @include md {
      margin-top: 20px;
      max-width: 850px;
      text-align: center;
    }

    #introduction {
      text-align: justify;
      font-size: 18px;
      margin-bottom: 20px;

      a {
        color: rgb(159, 32, 0);
        font-size: 18px;
        font-weight: bolder;
        margin-top: 10px;
        padding: 5px 28px;
        box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.2),
          0 2px 8px 0 rgba(0, 0, 0, 0.14), 0 4px 8px -1px rgba(0, 0, 0, 0.12);
      }
    }

    #media {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;

      #youtube-player {
        width: 90vw;
        max-width: 576px;
      }
    }
  }
}
