<div id="personal-container">
  <div id="left-side">
    <div id="person-card">
      <div id="name-holder">
        <p>
          {{ currentPersonData.name }}
        </p>
      </div>
      <div id="image-holder">
        <img
          [src]="currentPersonData.pictureUrl"
          alt="Picture of {{ currentPersonData.name }}"
          width="150px"
        />
      </div>
    </div>
    <div id="contact">
      <p id="title">Elérhetőségek</p>
      <div class="iconWithData">
        <span class="material-symbols-outlined">call</span>
        <a href="tel:{{ currentPersonData.phone }}">{{
          currentPersonData.phone
        }}</a>
      </div>
      <div class="iconWithData">
        <span class="material-symbols-outlined">forward_to_inbox</span>
        <a href="mailto:{{ currentPersonData.email }}">{{
          currentPersonData.email
        }}</a>
      </div>
      <div class="iconWithData" *ngIf="currentPersonData.web !== ''">
        <span class="material-symbols-outlined">public</span>
        <a href="{{ currentPersonData.web }}">Weboldalam</a>
      </div>
      <div class="iconWithData" *ngIf="currentPersonData.facebook !== ''">
        <span class="material-symbols-outlined">thumb_up</span>
        <a href="{{ currentPersonData.facebook }}">Facebook</a>
      </div>
    </div>
  </div>
  <div id="right-side">
    <div id="quote" *ngIf="currentPersonData.quote !== ''">
      <blockquote>
        <p>{{ currentPersonData.quote }}</p>
      </blockquote>
    </div>
    <div id="introduction">
      <p>
        {{ currentPersonData.introduction }}
      </p>
    </div>
    <div id="media">
      <youtube-player
        videoId="{{ currentPersonData.videoId }}"
      ></youtube-player>
    </div>
  </div>
</div>
