@import "../../../mixins";

#introduction-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;

  #title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: bolder;
    color: rgb(159, 32, 0);
    margin: 20px 0 40px 0;
    overflow: hidden;

    @include custom(550px) {
      font-size: 28px;
    }

    @include lg {
      font-size: 30px;
    }

    @include custom(1010px) {
      font-size: 32px;
    }

    blockquote {
      width: 100%;
      background-color: whitesmoke;
      border: solid 2px rgba(159, 32, 0, 0.8);
      line-height: 1.5em;
      margin: 0;
      padding: 0.7em;
      position: relative;
      &:before {
        background-color: whitesmoke;
        bottom: -10%;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: -10%;
        transform: rotate(-15deg) skew(5deg);
      }
      > * {
        position: relative;
        z-index: 1;
      }
    }
  }

  #card-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;

    @include sm {
      flex-wrap: wrap;
    }

    @include xl {
      flex-wrap: nowrap;
    }
  }
}
